!!!
%html
  %head
    %title Pag
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-default
        %ul
          - if current_user != nil
            %li Op1
          - else
            %li Op2
    %body
      .main-container
        = yield
    %footer
      Hi! footer!
